.bodyWeather {
    background: url(img/background.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url(./fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url(./fonts/PT_Sans-Web-Bold.ttf);
}

.data-of-temp {
    height: 335px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.location {
    margin: 0;
    text-align: center;
    color: #585858;
    font-family: 'PTSans-Regular';
    font-size: 60px;
}


.temperature {
    height: 250px;
    margin: -50px 0 35px 0;
    text-align: center;
    color: #ffd200;
    font-family: 'PTSans-Bold';
    font-size: 240px;
}

.date {
    margin: 0;
    text-align: center;
    color: #585858;
    font-family: 'PTSans-Bold';
    font-size: 15px;
}

.request-failed {
    color: #ffd200;
    position: absolute;
    left: 50%;
    top: 50%;
}

.refresh {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.weather-error {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 10%;
    background-color: white;
    border-radius: 10px;
}

.weather-error img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.weather-error img:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.weather-error p {
    padding: 10px;
    margin: 0;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    letter-spacing: 0.5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}