.bodyWeather {
    background-image: url(img/background.jpg);
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url(./fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url(./fonts/PT_Sans-Web-Bold.ttf);
}

.data-of-temp {
    height: 335px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.location {
    margin: 0;
    text-align: center;
    color: #585858;
    font-family: 'PTSans-Regular';
    font-size: 60px;
}


.temperature {
    height: 250px;
    margin: -50px 0 35px 0;
    text-align: center;
    color: #ffd200;
    font-family: 'PTSans-Bold';
    font-size: 240px;
}

.date {
    margin: 0;
    text-align: center;
    color: #585858;
    font-family: 'PTSans-Bold';
    font-size: 15px;
}

.request-failed {
    color: #ffd200;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.refresh {
    position: absolute;
    top: 45%;
    left: 45%;
}
