
a {
    font-family: 'PTSans-Regular';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14pt;
    letter-spacing: 1px;
    color: #585858;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.menu {
    display: flex;
}

.menu a {
    margin-right: 48px;
}

.active {
    border-bottom: 0px solid #fff !important;
    color: #ffd200;
}


