
@font-face {
    font-family: 'AvenirLT-Book';
    src: url(./fonts/avenir-lt-book.otf);
}

a {
    font-family: 'PTSans-Regular';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: #585858;
}

header {
    float: right;
    margin: 20px 25px 0 0;
}

.signup-in {
    float: right;
}

.menu {
    margin-right: 35px;
    display: inline-block;
    float: left;
}

.active {
    border-bottom: 0px solid #fff !important;
    color: #ffd200;
}

.profile-img {
    height: 13px;
}
