@font-face {
    font-family: 'AvenirLT-Light';
    src: url(./fonts/avenir-lt-light.otf);
}

@font-face {
    font-family: 'Neou-Thin';
    src: url(./fonts/Neou-Thin.otf);
}

body {
    background-color: #f7f6f6;
}

main {
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
}

main p {
    color: #585858;
    font-family: 'Neou-Thin';
    font-size: 195px;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: default;
}


