.reg-form-container {
    width: 628px;
    height: 408px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}

#regPic{
    float: left;
    padding: 94px 38px;
}

.form{
    float: left;
    height: 100%;
}

label {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #c3c3c3;
}
 .label-active-ok {
     border-bottom: 1px solid #5ed992 !important;
 }

input {
    width: 100%;
    height: 40px;
    border: none;
}

:focus::-webkit-input-placeholder {color: #bcdae7}
:focus::-moz-placeholder          {color: #bcdae7}
:focus:-moz-placeholder           {color: #bcdae7}
:focus:-ms-input-placeholder      {color: #bcdae7}

input:focus{
    outline: none;
}

.button {
    background-color: #1a62ec;
    color: #fff;
    border-radius: 50px;
}

img {
    margin-right: 9px;
}

.text {
    color: #545454;
    font-size: 24px;
    font-weight: bold;
    font-family: 'PTSans-Regular';
    margin-bottom: 12px;
}

p {
    font-family: 'PTSans-Regular';
    color: #444444;
}

.login {
    text-transform: none;
    padding-left: 3px;
    color: #f4d503;
    font-weight: bold;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.54);
    position: fixed;
    z-index: 1;
}

.popover {
    z-index: 99;
    position: absolute;
    top: 33px;
    left: 35px;
}

.popover p {
    padding: 0 5px 0 5px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: 'PTSans-Regular';
    font-size: 14px;
}

.popover-overlay  {
    display: table;
    height: 26px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.warning {
    color: #fa4e4e;
}

.ok {
    color: #5ed992;
}
